#app4 {
}
.circle {
  border: 1px solid red;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin-top: 10vw;
  margin-left: 10vw;
}
@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}
.circle.active {
  animation: change 1s linear infinite;
}
